<form>
    <p>Add new Servers or blueprints!</p>
    <div class="form-group">
        <label for="serverName">server name</label>
        <input type="text" class="form-control" id="serverName" placeholder="Enter Input 1">
    </div>
    <div class="form-group">
        <label for="serverContent">server content</label>
        <input type="text" class="form-control" id="serverContent" placeholder="Enter Input 2">
    </div>
    <button type="submit" class="btn btn-primary">Add Server</button>
    <button type="submit" class="btn btn-primary">Add Server Bluprint</button>
</form>